nav {
  padding: 0px 0px 0px 0px !important;
  background-color: rgba(52,58,64, 1) !important;
  a, li {
    color: white !important;
  }
  .nav-item {
    padding-left: 0px;
  }
  .fa-bars {
    color: white;
  }
  .navbar-collapse {
    width: 100%;
    background-color: rgb(2,48,118) !important;
    margin: 0px;
    padding-bottom: 10px;
    padding-left: 3px;
  }
  .navbar-brand {
    font-family: 'Lexend Tera', sans-serif;
  }

/* Underline From Center */
.nav-hvr-underline-from-center {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(10px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.nav-hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0%;
  right : 0%;
  background: white;
  height: 1px;
  animation-name: borderFromCenter;
  animation-duration: .5s;
}

.nav-hvr-underline-from-center-away {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(10px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.nav-hvr-underline-from-center-away::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 51%;
  right : 51%;
  background: white;
  height: 1px;
  animation-name: undoBorderFromCenter;
  animation-duration: .3s;
}
}

@media screen and (max-width: 768px) {
  nav {
    li {
      padding-left: 3%;
    }
    .navbar-collapse {
      padding-bottom: 0px;
    }
  }
}