nav {
  padding: 0px !important;
  background-color: rgba(52,58,64, 1) !important;
  a, li {
  color: white !important;
  padding: 1px;
  }
  .fa-bars {
    color: white;
  }
  .navbar-collapse {
    width: 100%;
    background-color: rgb(2,48,118) !important;
    margin: 0px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    li {
      padding-left: 3%;
    }
  }
}