.newExerciseRow {
  height: 100%;
}

.newExerciseRowColumn {
  background-color: rgb(2,48,118);
  color: white;
}

.deleteCross {
  color: red;
  font-size: 22px;
  cursor: pointer;
}

.penEdit {
  color: black;
  cursor: pointer; 
  font-size: 22px;
}

@media screen and (max-width: 585px) {
  .deleteCross {
    font-size: 15px;
  }
  .penEdit {
    font-size: 15px;
  }
}
