.tableHeader {
  border: solid 1px black;
  margin-bottom: 0px;
  background-color: rgb(2,48,118);
  color: white;
}

.tableColumnTitles {
  background-color: rgb(146,146,146);
}

.blankSpace {
  background-color: white;
  border-left: solid 1px white !important;
  border-top: solid 1px white !important;
}

.workoutContainer {
  border: solid 1px black;
}

@media screen and (max-width: 700px) {
  .workoutTable {
    font-size: 10px;
  }
}