.workoutHeader {
  border: solid 1px black;
  margin-bottom: 0px;
  background-color: rgb(2,48,118);
  color: white;
}


.tableColumnTitles {
  background-color: rgb(146,146,146);
}

.blankSpace {
  background-color: white;
  border-left: solid 1px white !important;
  border-top: solid 1px white !important;
}

.workoutContainer {
  border: solid 1px black;
}

@media screen and (max-width: 768px) {
  .workoutTable {
    font-size: 10px;
  }

  .workoutHeader {
    font-size: .8rem;
    h4 {
    
    }
  }

  .workoutBody {
    h5 {
      font-size: .9rem;
    }
    h6 {
      font-size: .9rem;
    }
    .btn-secondary {
      font-size: .8rem;
    }
  }
  .workoutFooter {
    .actionButton {
      font-size: .8rem;
    }
    .btn-danger {
      font-size: .8rem;
    }
  }
}