label {
  font-size: 25px;
}

.modalLabel {
  font-size: 16px;
}

.line {
  border: solid 1px black;
}

#addExerciseName {
  font-size: 16px;
}

.dropdownHeader {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(2,48,118);
  color: white;
}

.workoutMenu {
  -webkit-overflow-scrolling: touch;
}

// .createWorkoutColumnTables {
//   background-color: rgb(146,146,146);
//   font-size: 20px;
// }


.popOverBody {
  background-color: black;
  color: white;
  font-size: 16px;
}

.createNewBlankSpace {
  border: solid 1px white !important;
  background-color: white;
}

.tableHeaderRow {
  height: 55%;
  color: white;
  margin-bottom: 0px !important;
}

.createWorkoutTable {
  .row {
    margin-bottom: -15px;
  }
}

@media screen and (max-width: 768px) {
  .createWorkoutTable {
    font-size: 10px;
  }
}