label {
  font-size: 25px;
}

.createNewWorkoutborder {
  border: solid 1px black;
  box-shadow: 2px 2px 3px black;
  height: 36px;
}

.modalLabel {
  font-size: 16px;
}

.line {
  border: solid 1px black;
}

#addExerciseName {
  font-size: 16px;
}

.dropdownHeader {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(2,48,118);
  color: white;
}

.workoutMenu {
  -webkit-overflow-scrolling: touch;
}

// .createWorkoutColumnTables {
//   background-color: rgb(146,146,146);
//   font-size: 20px;
// }


.popOverBody {
  background-color: black;
  color: white;
  font-size: 16px;
}

.createNewBlankSpace {
  border: solid 1px white !important;
  background-color: white;
}

.tableHeaderRow {
  height: 4.0em;
  color: white;
  margin-bottom: 0px !important;
}

.topRow {
  background-color: rgb(52,58,64) !important;
  border : solid 1px black;
}

@media screen and (max-width: 768px) {
  .createWorkoutTable {
    font-size: 10px;
  }
}