.submitExerciseRowContainer {
  border: solid 1px black;
}

arrow {
  transition-duration: .2s;
}

.rotateArrowUp {
  transform: rotate(180);
  transition-duration: .2s;
}

.setNames {
  font-size: 20px;
}

.form-control-submit {
  font-size: 20px;
}

